# Dependências
/node_modules

# Arquivos de build
/dist
/build

# Arquivos de log
*.log
npm-debug.log*

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Diretório de cache do editor
.idea
.vscode
*.swp
*.swo

# Sistema de arquivos do OS
.DS_Store
Thumbs.db

# Diretórios de cobertura de testes
/coverage